
body {
    background-color: rgb(250, 250, 250);
    
    color: rgb(0, 0, 0);
  }

.topnav {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(250, 250, 250)
}
/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sitetitle{
    text-shadow:1px 1px 0 #444;
    vertical-align: center
}